{{template "base" .}}

{{define "content"}}
<section
	class="container text-center px-6 mx-auto w-full xl:w-2/3 bg-white py-4"
>
	<p
		class="uppercase font-bold text-gray-800 text-xl"
	>
		about us
	</p>
	<div class="flex gap-4 my-12">
		<img
			src="static/images/waterfall.jpg"
			alt="mountains with waterfall view"
			class="w-1/2"
		/>
		<div
			class="flex flex-col gap-4 px-4 text-left"
		>
			<p>
				Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Ipsa, velit aut.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur
				adipisicing elit.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Ipsa, velit aut.
				Reprehenderit, non! Suscipit fugit
				laboriosam dignissimos, voluptate
				temporibus tempore sequi totam unde
				excepturi dolore labore doloribus
				aspernatur tempora at!
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur
				adipisicing elit. Voluptatum hic, sapiente
				magni eum deleniti minima suscipit omnis
				porro ad, repellendus esse rem ex
				dignissimos at commodi. Laborum a quas
				commodi.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Cum dolores qui adipisci
				atque pariatur odit tempore enim voluptate
				necessitatibus est, suscipit officiis
				harum quod obcaecati, eveniet error
				perferendis earum voluptatem? Tenetur
				dolorum reprehenderit temporibus
				voluptatem voluptate veniam ab minus,
				distinctio aperiam ratione neque? Dicta
				accusamus consequuntur quae eum rem omnis
				modi harum quidem minus! Quo possimus
				doloribus consectetur magnam rem?
			</p>
		</div>
	</div>
</section>
{{ end }}
