{{template "base" .}}

{{define "content"}}
<section
	class="container text-center px-6 mx-auto w-full xl:w-2/3 bg-white py-4"
>
	<p
		class="uppercase font-bold text-gray-800 text-xl"
	>
		Dashboard
	</p>
	<div class="flex gap-4 my-12">
		<p>...</p>
	</div>
</section>
{{ end }}
