{{template "base" .}}

{{define "css"}}
<link
	href="static/css/home.css"
	rel="stylesheet"
/>
{{ end }}

{{define "content"}}
<!-- Carousel -->
<div
	class="carousel relative container mx-auto"
	style="max-width: 1600px"
>
	<div
		class="carousel-inner relative overflow-hidden w-full"
	>
		<!--Slide 1-->
		<input
			class="carousel-open"
			type="radio"
			id="carousel-1"
			name="carousel"
			aria-hidden="true"
			hidden=""
			checked="checked"
		/>
		<div
			class="carousel-item absolute opacity-0"
			style="height: 50vh"
		>
			<div
				class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
				style="
					background-image: url('static/images/room-saloon.jpg');
				"
			>
				<div class="container mx-auto">
					<div
						class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide"
					>
						<p class="text-white text-2xl my-4">
							Lorem ipsum dolor sit
						</p>
						<a
							class="text-xl inline-block no-underline border-b border-gray-300 text-gray-300 leading-relaxed hover:text-gray-200 hover:border-gray-200"
							href="#"
							>view room</a
						>
					</div>
				</div>
			</div>
		</div>
		<label
			for="carousel-3"
			class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
			>‹</label
		>
		<label
			for="carousel-2"
			class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
			>›</label
		>

		<!--Slide 2-->
		<input
			class="carousel-open"
			type="radio"
			id="carousel-2"
			name="carousel"
			aria-hidden="true"
			hidden=""
		/>
		<div
			class="carousel-item absolute opacity-0 bg-cover bg-right"
			style="height: 50vh"
		>
			<div
				class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-center"
				style="
					background-image: url('static/images/room-bed.jpg');
				"
			>
				<div class="container mx-auto">
					<div
						class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide"
					>
						<p class="text-white text-2xl my-4">
							Lorem ipsum dolor sit
						</p>
						<a
							class="text-xl inline-block no-underline border-b border-gray-300 text-gray-300 leading-relaxed hover:text-gray-200 hover:border-gray-200"
							href="#"
							>view room</a
						>
					</div>
				</div>
			</div>
		</div>
		<label
			for="carousel-1"
			class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
			>‹</label
		>
		<label
			for="carousel-3"
			class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
			>›</label
		>

		<!--Slide 3-->
		<input
			class="carousel-open"
			type="radio"
			id="carousel-3"
			name="carousel"
			aria-hidden="true"
			hidden=""
		/>
		<div
			class="carousel-item absolute opacity-0"
			style="height: 50vh"
		>
			<div
				class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-center"
				style="
					background-image: url('static/images/mountain-view.jpg');
				"
			>
				<div class="container mx-auto">
					<div
						class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide"
					>
						<p class="text-white text-2xl my-4">
							Lorem ipsum dolor
						</p>
					</div>
				</div>
			</div>
		</div>
		<label
			for="carousel-2"
			class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
			>‹</label
		>
		<label
			for="carousel-1"
			class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
			>›</label
		>

		<!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label
					for="carousel-1"
					class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900"
					>•</label
				>
			</li>
			<li class="inline-block mr-3">
				<label
					for="carousel-2"
					class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900"
					>•</label
				>
			</li>
			<li class="inline-block mr-3">
				<label
					for="carousel-3"
					class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900"
					>•</label
				>
			</li>
		</ol>
	</div>
</div>

<!--	 
Alternatively if you want to just have a single hero

<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">

<div class="container mx-auto">

<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>

</div>

</div>

</section>

-->

<!-- Hero -->
<section class="bg-white pt-8 pb-4">
	<div class="container py-8 px-6 mx-auto">
		<p
			class="uppercase font-bold text-gray-800 text-xl"
			href="#"
		>
			Welcome to Go&B Bed and Breakfast
		</p>

		<p class="mb-2 mt-8">
			Your home away from home, set on the
			majestic mountains of the Blue Cheese
			Mountains.
		</p>
		<p>This will be a vacation to remember!</p>
	</div>
	<!-- Search Availability -->
	<div class="w-full mx-auto py-8">
		{{template "search-availability-rooms" .}}
	</div>
</section>
{{ end }}

{{define "js"}}
<script>
	const dateFormat = "yyyy-mm-dd";
	// all rooms
	const roomsFormEl = document.querySelector(
		"#form-rooms"
	);
	new DateRangePicker(roomsFormEl, {
		format: dateFormat,
		minDate: new Date(),
	});

	// budget room
	const budgetSubmitButton =
		document.querySelector(
			"#submit-button-budget"
		);

	const [budgetFormData, budgetDateRangePicker] =
		createAvailbilityParams(
			dateFormat,
			"budget",
			"2"
		);

	budgetSubmitButton.addEventListener(
		"click",
		(event) =>
			searchAvailability(
				event,
				"budget",
				budgetFormData,
				budgetDateRangePicker
			)
	);

	// suite room
	const suiteSubmitButton =
		document.querySelector(
			"#submit-button-suite"
		);

	const [suiteFormData, suiteDateRangePicker] =
		createAvailbilityParams(
			dateFormat,
			"suite",
			"3"
		);

	suiteSubmitButton.addEventListener(
		"click",
		(event) =>
			searchAvailability(
				event,
				"suite",
				suiteFormData,
				suiteDateRangePicker
			)
	);
</script>
{{ end }}
